/*Import Variable CSS sheet*/
@import url("configVars.css");
/*Custom font*/
@font-face {
    font-family: Nunito;
    font-display: swap; /*To use system font while loading*/
    src: url(./res/fonts/Nunito-SemiBold.ttf);
}

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/*General changes*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--base-color, #3b3b3b) /*Use of variable with fallbacks*/
}

::selection{
    background: rgba(255, 178, 0, 0.75);
}
::-moz-selection {
    background: rgba(255, 178, 0, 0.75);
}

a {
    color: inherit;
}

/*CSS for Header*/

header {
    display: flex; /*Use of flex*/
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;

    box-sizing: border-box;
    padding: 5px 50px;
    width: 100%;
    min-height: 65px;
    line-height: 55px;
    overflow: hidden;
    background: #ffffff;

    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.2);
    z-index: 9;
}

initials-gl {
    cursor: default;
}

header initials-gl {
    flex-grow: 1;
    flex-shrink: 1;

    display: inline-block;
    position: relative;

    font-family: Nunito, "Helvetica Neue", "Arial", sans-serif; /*Use of custom font with fallbacks*/
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
}

header nav {
    flex-grow: 4;
    flex-shrink: 1;

    display: flex; /*Use of flex*/
    flex-wrap: nowrap;
    justify-content: end;
    flex-direction: row;
    position: relative;

    font-size: 0.9rem;
    text-align: right;

    /*Nested CSS*/
    .nav_item {
        display: inline-block;
        position: relative;
        width: auto;
        height: 40px;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        transition: 0.3s;
        font-weight: 500;
    }
    .nav_item:hover {
        color: var(--highlight-color,#ffb200);
    }
}

/*CSS for Main*/

/*Section headings*/
h2 {
    display: block;
    position: relative;
    font-size: 2.5rem;
    margin-top: 25px;
    margin-bottom: 30px;
}

/*Section HOME*/
.parallax_image_background_container {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url("https://ik.imagekit.io/bq2rndp7u/coverimage_compressed.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_container {
    display: block;
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}


#welcome {
    display: block;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #ffffff;
}
#welcome_text {
    display: block;
    position: relative;
    max-width: 40vw;
    font-size: 1.1rem;
    margin-top: 10px;
}
#greeting {
    display: block;
    font-size: 2rem;
    margin-bottom: 0;
}
#name {
    font-size: 5rem;
}
#colored_name {
    background: linear-gradient(90deg, #ffb200, #ff0000, #ffb200) 0 0 / 950px 1000px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: backgroundMovement 60s infinite linear;
    transition: 0.3s;
}
@keyframes backgroundMovement {
    to {
        background-position: 950px 0;
    }
}
#colored_name:hover {
    filter:brightness(1.1);
}

#welcome .socialmedia {
    margin-top: 50px;
}

.socialmedia {
    display: block;
    position: relative;
    width: auto;
    height: 50px;
}

.socialmedia li {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.socialmedia li img {
    filter: invert(1);
    transition: 0.3s;
}
.socialmedia li img:hover {
    filter: invert(0.8);
}

/*Section ABOUT ME*/

#aboutme {
    display: block;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutme h2+p {
    display: inline-block;
    width: 70%;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: top;
}

.portrait-wrapper {
    display: inline-block;
    position: relative;
    width: calc(30% - 5px);
    vertical-align: middle;
}
#aboutme picture {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
    border-radius: 1000px;
    overflow: hidden;
    border: 3px solid #f5f5f5;
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}

#skills {
    display: block;
    position: relative;
    background: linear-gradient(90deg, #ffb200, #ff0000, #ffb200) 0 0 / 2000px 1000px;
    animation: sectionBackgroundMovement 60s infinite linear;
    transition: 0.3s;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #ffffff;
}
@keyframes sectionBackgroundMovement {
    to {
        background-position: 2000px 0;
    }
}

#skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#skills ul li {
    display: inline-block;
    position: relative;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#skills ul li img {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#skills ul li span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

/*Section skills */
#skills {
    margin-top: 50px;
}

#skills h2 {
    text-align: center;
    margin-bottom: 5px;
}

#skills h2+p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
}

#projects h2, #contact h2 {
    margin-top: 60px;
}

#project_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2vw;
    margin-bottom: 50px;
    list-style-type: none;
}

/*Section Projects*/
article {
    display: inline-block;
    position: relative;
    max-width: 400px;
    width: calc(100% - 20px - 20px);
    height: 300px;
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1.0);
    transition: 0.3s;
    margin: 10px;
}

article:hover {
    transform: scale(1.03);
}

article h3 {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 20px;
}

article p {
    display: block;
    position: relative;
    width: 100%;
    height: 98px;
    overflow: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

article img {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/*Section Contact*/
#contact {
    text-align: center;
}
form {
    display: block;
    position: relative;
    font-size: 1rem;
    padding-bottom: 50px;
}

input, select, textarea {
    display: block;
    position: relative;
    height: 40px;
    border-radius: 8px;
    background: #f5f5f5;
    padding-left: 10px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

select {
    -webkit-appearance: none;
}

textarea {
    padding-top: 10px;
    box-sizing: border-box;
    height: 200px;
    resize: none;
}

input:focus {
    outline: none;
}


#contact button {
    display: block;
    position: relative;
    width: auto;
    height: 40px;
    color: #ffffff;
    background: #A8672F; /*Fallback for browsers not supporting color-mix*/
    background: color-mix(in oklch, color(display-p3 0.95539, 0.71087, 0.24606), rgb(10 10 10) 36%); /*Use of wider gamut color mix*/
    border-radius: 100px;
    padding: 8px 25px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.03);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    transform: scale(1);
    transition: 0.3s;
}
#contact button:hover {
    transform: scale(1.02);
}

/*CSS for Footer*/
/*Fallback for browsers not supporting scoped css*/
footer {
    display: block;
    position: relative;
    background: var(--base-color,#3b3b3b);
    height: 130px;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
}
footer initials-gl {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    font-size: 2rem;
}
footer p {
    font-size: 0.8rem;
    margin-bottom: 15px;
}
footer .socialmedia {
    margin-top: 5px;
    height: 15px;
    margin-bottom: 20px;
}
footer .socialmedia li {
    margin-left: 2px;
    margin-right: 2px;
}
footer .socialmedia img {
    width: 15px;
    height: 15px;
}
footer nav {
    display: block;
}
footer nav a {
    display: inline-block;
    position: relative;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--highlight-color,#ffb200);
}
/*End of fallback*/

/*Ue of scoped CSS (Extra credit)*/
@scope (footer) {
    :scope {
        display: block;
        position: relative;
        background: var(--base-color,#3b3b3b);
        height: 130px;
        text-align: center;
        color: #ffffff;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    initials-gl {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        font-size: 2rem;
    }
    p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    .socialmedia {
        margin-top: 5px;
        height: 15px;
        margin-bottom: 20px;
    }
    .socialmedia li {
        margin-left: 2px;
        margin-right: 2px;
    }
    .socialmedia img {
        width: 15px;
        height: 15px;
    }
    nav {
        display: block;
    }
    nav a {
        display: inline-block;
        position: relative;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--highlight-color,#ffb200);
    }
}

#menu_wrapper {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu, #menu_check {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#menu_check {
    opacity: 0;
    cursor: pointer;
}

/*Mobile Adjustments*/
@media (max-width: 550px) {
    header {
        padding-bottom: 0;
        display: block;
    }
    initials-gl {
        height: 65px;
        line-height: 65px;
        margin-right: calc(100% - 55px - 20px);
    }
    header nav {
        display: none;
    }
    #menucheck {
        display: block;
        position: absolute;
        visibility: hidden;
    }
    #menu_wrapper:has(> #menu_check:checked) ~ nav { /*Use of has selector*/
        display: block;
    }
    header nav ul {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 15px;
        list-style-type: none;
    }
    header nav .nav_item {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 0;
    }
    #menu_wrapper {
        display: inline-block;
        position: relative;
        margin-left:auto;
        vertical-align: middle;
        margin-bottom: -3px;
    }
    nav {
        flex-direction: column;
    }
    footer {
        height: 165px !important;
    }
    #skills {
        margin-top: 20px;
    }
}

@media (max-width: 715px) {
    input,select,textarea {
        width: 100%;
    }
    #skills ul li span {
        font-size: 0.8rem;
    }
    #skills h2+p {
        font-size: 0.7rem;
    }
}

@media (max-width: 875px) {
    .content_container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    #welcome_text {
        max-width: 80vw;
    }
    #name{
        font-size: 3rem;
    }
    #greeting {
        font-size: 1.5rem;
    }
    #aboutme p {
        max-width: 100vw;
    }
}

@media (max-width: 1400px) {
    #aboutme h2+p {
        width: 100%;
    }
    #aboutme picture {
        display: none;
    }
    #skills ul {
        max-width: 100%;
    }
}